
$primary-start: #667eea;
$primary-end: #764ba2;
$primary-gradient: linear-gradient(135deg, $primary-start 0%, $primary-end 100%);

$secondary: #BC9C23;
$background: #FFFFFF;
$text-dark: #2d3748;
$accent: #f8ab37;
